<header id="nav" class="nav">
  {% include 'promobar' %}

  <div class="nav__inner wrapper f aic jcb bg-codgray">
    {% if template.name == 'index' %}
      <h1 class="nav__brand">
    {% else %}
      <div class="nav__brand">
    {% endif %}
        <a href="/">
          <img class="block w1" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}"/>
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <div class="nav__logo mongoose">Logo</div>

    <div class="nav__links">
      {% include 'social-links' %}
    </div>
  </div>
</header>
