<footer class="site-footer wrapper bg-codgray f jcb aic">
  <div class="site-footer__links f aic">
    <h5 class="site-footer__heading mongoose">{{ 'layout.footer.social_title' | t }}</h5>
    {% include 'share' %}
  </div>
  <div class="nav__brand">
    <a href="/">
      <img class="block w1" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}"/>
    </a>
  </div>
</footer>
